@{
    ViewBag.Title = "Про нас";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container-collapsing">
    <h1 align="left" style="margin-top:100px;">Про нас</h1>
    <div class="container" style="width: 75%;">
        <p align="justify" style="font-size: 150%;">Це єдиний у своєму роді lifestyle-готель, який ідеально підходить для роботи, відпочинку і насолоди життям і дарує гостям незабутні враження.</p>
    </div>

    <h1 align="right" style="margin-top:140px;">Made by originals</h1>
    <div class="container" style="width: 75%;">
        <p align="justify" style="font-size: 150%;">Творчими натхненниками 11 Mirrors стали дві неординарні особистості, Original-легенда світового боксу, міжнародний підприємець, challenge manager Володимир Кличко та успішний девелопер у сфері комерційної нерухомості Руслан Олексенко. Їх увага до деталей і пристрасть до справжньої гостинності знайшли відображення в концептуальному дизайні і оригінальній архітектурі 11-ти поверхового дизайн-готелю.</p>
    </div>

</div>