
@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<div>
    <address>
        проспект Степана Бандери, 28<br>
        Київ, Украина, 04073<br>
        Телефон: 5358833
    </address>
    <address>
        <strong>Support:</strong>
        <a href="mailto:bogdan11194@gmail.com?subject=Тема">pika4y1001@gmail.com</a><br />
        <strong>Marketing:</strong>
        <a href="mailto:Marketing@example.com">wwworldcars@gmail.com</a>
    </address>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.911054563791!2d30.514217642952122!3d50.48787590905564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce022fa2bf4b%3A0xd1c7cc913b747de9!2z0JDQstGC0L7RgdC-0Y7Qtw!5e1!3m2!1sru!2sde!4v1581630676660!5m2!1sru!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>